.textParagraph {
    @apply py-4 text-[18px] text-[#1E1E1E];
}

.fiicode {
    @apply text-[22px] font-bold text-sky-400 pr-2;
}

.areaHeading {
    @apply text-[#4A5157] uppercase font-bold text-2xl pb-6;
    background: -webkit-linear-gradient(180deg, #B9154F, #2F04AE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.areaPrize {
    @apply text-[#4A5157] font-bold text-base pb-2;
    background: -webkit-linear-gradient(180deg, #B9154F, #2F04AE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.areaParagraph {
    @apply leading-7 text-[#4A5157] font-normal pb-6;
}

.bulletPoints {
    @apply list-disc ml-4;
}

.bulletPoints > * {
    @apply pl-2 text-[#4A5157];
}